# Chicago Payroll Data Exercise Solution

**1. Import pandas as pd.**

In [2]:
import pandas as pd

**2. Read City_of_Chicago_Payroll_Data.csv as a dataframe in pay.**

In [3]:
pay = pd.read_csv('/content/City_of_Chicago_Payroll_Data.xls')

**3. Show first five records in your data.**

In [10]:
pay.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN

**3. Get the overview of your data.<br>**

In [6]:
pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32658 entries, 0 to 32657
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               32658 non-null  object
 1   Job Titles         32658 non-null  object
 2   Department         32658 non-null  object
 3   Full or Part-Time  32658 non-null  object
 4   Salary or Hourly   32658 non-null  object
 5   Typical Hours      7883 non-null   float64
 6   Annual Salary      24775 non-null  object
 7   Hourly Rate        7883 non-null   object
dtypes: float64(1), object(7)
memory usage: 2.0+ MB

**4. How many 'NaN' you have i:n each column in your data?**

In [7]:
pay.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        24775
Annual Salary         7883
Hourly Rate          24775
dtype: int64

**5. Output the statistics for your dataset.**

In [8]:
pay.describe(include='all')

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
count,32658,32658,32658,32658,32658,7883.000000,24775,7883
unique,32350,1095,36,2,2,NaN,1038,167
top,"HERNANDEZ, JUAN C",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,$35.60
freq,5,9393,12973,30676,24775,NaN,2368,1404
mean,NaN,NaN,NaN,NaN,NaN,34.698719,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,9.145553,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,20.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,40.000000,NaN,NaN

**6. What are the maximum, minimum and average Typical Hours? (use 'Typical Hours' column)**<br>

In [9]:
print('Max Typical Hours are:', pay['Typical Hours'].max())
print('Min Typical Hours are:', pay['Typical Hours'].min())
print('Mean/Avg Typical Hours are:', pay['Typical Hours'].mean())

Max Typical Hours are: 40.0
Min Typical Hours are: 10.0
Mean/Avg Typical Hours are: 34.69871876189268

**7. How many employees are on salary and how many are working on hourly basis?**<br>
*Hint: Group the data on 'Salary or Hourly' column. Instead of whole dataset, you can take the single column as input as well.*

In [12]:
#pay['Salary or Hourly'].groupby(pay['Salary or Hourly']).count()
pay.groupby('Salary or Hourly').count()[['Name']]

                   Name
Salary or Hourly
Hourly             7883
Salary            24775

In [13]:
pay['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    24775
Hourly     7883
Name: count, dtype: int64

**8. Which department has maximum no of employees?**

In [16]:
pay.groupby('Department').count()[['Name']].idxmax()

Name    POLICE
dtype: object

In [17]:
pay.groupby('Department').count().sort_values(by='Name', ascending=False)[['Name']].head(1)

             Name
Department
POLICE      12973

In [20]:
pay['Department'].value_counts().head()

Department
POLICE           12973
FIRE              4800
STREETS & SAN     2194
OEMC              2044
WATER MGMNT       1878
Name: count, dtype: int64

In [21]:
pay.Department.value_counts().head()

Department
POLICE           12973
FIRE              4800
STREETS & SAN     2194
OEMC              2044
WATER MGMNT       1878
Name: count, dtype: int64

**9. How many employees are on Salary and how many are on Hourly in the Police department?**

In [ ]:
pay[pay['Department'] == 'POLICE'].groupby('Salary or Hourly').count()['Name']

Salary or Hourly
Hourly       32
Salary    12941
Name: Name, dtype: int64

In [22]:
pay[pay['Department'] == 'POLICE']['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    12941
Hourly       32
Name: count, dtype: int64

In [23]:
df = pay[pay['Department']=='POLICE']
df['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    12941
Hourly       32
Name: count, dtype: int64

**10. What are the mean, max and min salaries?**

In [24]:
pay.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN

In [25]:
pay['Salary'] = pay['Annual Salary'].str.replace('$', '').astype(float)

In [26]:
pay

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN,107790.0
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN,104628.0
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN,114324.0
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN,76932.0
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN,111474.0
...,...,...,...,...,...,...,...,...,...
32653,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN,90024.0
32654,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN,48078.0
32655,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN,87006.0
32656,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN,93354.0
32657,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,$115932.00,NaN,115932.0

In [27]:
print('min Salary :', pay['Salary'].min())
print('max Salary :', pay['Salary'].max())
print('mean Salary :', pay['Salary'].mean())

min Salary : 0.96
max Salary : 300000.0
mean Salary : 87512.78024137235

**11. Find an employee who has the maximum salary.**

In [28]:
pay[pay['Salary'] == pay['Salary'].max()]['Name']

8310    EVANS,  GINGER S
Name: Name, dtype: object

**12. Find an employee who has the minimum salary.**

In [ ]:
pay['Salary']

0        107790.0
1        104628.0
2        114324.0
3         76932.0
4        111474.0
           ...
32653     90024.0
32654     48078.0
32655     87006.0
32656     93354.0
32657    115932.0
Name: Salary, Length: 32658, dtype: float64

In [29]:
pay[pay['Salary'] == pay['Salary'].min()]['Name']

15387    KOCH,  STEVEN
Name: Name, dtype: object

In [31]:
pay['Salary'].idxmin()

15387

In [30]:
pay.iloc[15387]['Name']

'KOCH,  STEVEN '

In [32]:
pay.iloc[pay['Salary'].idxmin()]['Name']

'KOCH,  STEVEN '

In [33]:
pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32658 entries, 0 to 32657
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               32658 non-null  object
 1   Job Titles         32658 non-null  object
 2   Department         32658 non-null  object
 3   Full or Part-Time  32658 non-null  object
 4   Salary or Hourly   32658 non-null  object
 5   Typical Hours      7883 non-null   float64
 6   Annual Salary      24775 non-null  object
 7   Hourly Rate        7883 non-null   object
 8   Salary             24775 non-null  float64
dtypes: float64(2), object(7)
memory usage: 2.2+ MB

In [34]:
pay

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN,107790.0
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN,104628.0
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN,114324.0
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN,76932.0
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN,111474.0
...,...,...,...,...,...,...,...,...,...
32653,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN,90024.0
32654,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN,48078.0
32655,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN,87006.0
32656,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN,93354.0
32657,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,$115932.00,NaN,115932.0

**13. What are the mean, max and min Hourly Rate?**

In [35]:
pay['H_Rate']=pay['Hourly Rate'].str.replace('$', '').astype(float)

In [36]:
pay

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary,H_Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN,107790.0,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN,104628.0,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN,114324.0,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN,76932.0,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN,111474.0,NaN
...,...,...,...,...,...,...,...,...,...,...
32653,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN,90024.0,NaN
32654,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN,48078.0,NaN
32655,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN,87006.0,NaN
32656,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN,93354.0,NaN
32657,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,$115932.00,NaN,115932.0,NaN

In [37]:
print('min H_Rate :', pay['H_Rate'].min())
print('max H_Rate :', pay['H_Rate'].max())
print('mean H_Rate :', pay['H_Rate'].mean())

min H_Rate : 2.65
max H_Rate : 96.0
mean H_Rate : 32.86819231257135

**14. How many employees are getting max Hourly Rate?**

In [40]:
pay[pay['H_Rate']==pay['H_Rate'].max()].count()['Name']

1

**15. Who is getting max Hourly Rate?**

In [41]:
pay[pay['H_Rate']==pay['H_Rate'].max()]

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary,H_Rate
14317,"JONES, JOHN W",PSYCHIATRIST,HEALTH,F,Hourly,35.0,NaN,$96.00,NaN,96.0

In [42]:
pay.iloc[pay['H_Rate'].idxmax()]

Name                 JONES,  JOHN W
Job Titles             PSYCHIATRIST
Department                   HEALTH
Full or Part-Time                 F
Salary or Hourly             Hourly
Typical Hours                  35.0
Annual Salary                   NaN
Hourly Rate                  $96.00
Salary                          NaN
H_Rate                         96.0
Name: 14317, dtype: object

**16. How many employees are earning less than the average Hourly Rate?**

In [43]:
pay[pay['H_Rate'] < pay['H_Rate'].mean()].count()['H_Rate']

2791

**17. How many employees are paid hourly and they have full-time job?**

In [44]:
pay[(pay['Salary or Hourly']=='Hourly') & (pay['Full or Part-Time']=='F')].count()['Name']

5906

In [45]:
pay[(pay['Hourly Rate'].notnull()) & (pay['Full or Part-Time']=='F')].count()['Full or Part-Time']

5906

**18. Find the full-time employees who are working at hourly rate of $10.00?**

In [46]:
pay[(pay['Full or Part-Time']=='F') & (pay['H_Rate']==10)] # or (pay['Hourly Rate']=='$10.00')

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary,H_Rate
1232,"AYALA JR, JESUS",STUDENT INTERN,HUMAN RESOURCES,F,Hourly,35.0,NaN,$10.00,NaN,10.0
4522,"CERVANTES, BIANCA A",STUDENT INTERN,BUDGET & MGMT,F,Hourly,35.0,NaN,$10.00,NaN,10.0
6476,"DAVILA, ROBERTO A",ALDERMANIC AIDE,CITY COUNCIL,F,Hourly,35.0,NaN,$10.00,NaN,10.0
16474,"LEVY, ETHAN",CLERK CITY COUNCIL,CITY COUNCIL,F,Hourly,35.0,NaN,$10.00,NaN,10.0

**19. How many unique Job Titles are there in the data?**

In [47]:
pay['Job Titles'].nunique()

1095

**20. What was the average Salary of the employees in each department?**

In [48]:
pay.groupby('Department')[['Salary']].mean()

                             Salary
Department
ADMIN HEARNG           78912.947368
ANIMAL CONTRL          66089.684211
AVIATION               76140.018777
BOARD OF ELECTION      56051.142857
BOARD OF ETHICS        94552.500000
BUDGET & MGMT          93925.395349
BUILDINGS              98864.833534
BUSINESS AFFAIRS       80446.425000
CITY CLERK             69762.439024
CITY COUNCIL           63577.172069
COMMUNITY DEVELOPMENT  88363.257143
COPA                   98784.705882
CULTURAL AFFAIRS       87048.909091
DISABILITIES           82431.724138
DoIT                   99681.029703
FAMILY & SUPPORT       79013.588785
FINANCE                73276.364662
FIRE                   97762.348662
GENERAL SERVICES       83095.528390
HEALTH                 85488.210938
HUMAN RELATIONS        93778.588235
HUMAN RESOURCES        79851.761194
INSPECTOR GEN          84030.666667
IPRA                   94429.285714
LAW                    84582.814404
LICENSE APPL COMM      80568.000000
MAYOR'S OFFICE         96165.512308
OEMC                   73153.778221
POLICE                 87836.025349
POLICE BOARD           86136.000000
PROCUREMENT            83278.243902
PUBLIC LIBRARY         71273.288136
STREETS & SAN          84347.775701
TRANSPORTN             89976.896061
TREASURER              88062.652174
WATER MGMNT            89894.111803

**21. What is the job title of 'AGAR,  BULENT B'?** please note, there are two spaces between AGAR, and BULENT.

In [49]:
pay[pay['Name']=='AGAR,  BULENT B']['Job Titles']

230    CHIEF ENGINEER OF SEWERS
Name: Job Titles, dtype: object

In [50]:
name = input("Enter a Name: ")
pay[pay['Name']==name]['Job Titles']

Enter a Name: AGAR,  BULENT B

230    CHIEF ENGINEER OF SEWERS
Name: Job Titles, dtype: object

**22. What are the top most common job titles?**

In [51]:
pay['Job Titles'].value_counts().head(1)

Job Titles
POLICE OFFICER    9393
Name: count, dtype: int64

**23. How many people have the word 'officer' in their job title?**

In [52]:
def find_string(title):
    if 'officer' in title.lower(): #Field_Officer(manager)
        return True
    else:
        return False

In [53]:
pay['Job Titles'].apply(find_string)

0        False
1        False
2        False
3        False
4        False
         ...
32653     True
32654     True
32655     True
32656     True
32657    False
Name: Job Titles, Length: 32658, dtype: bool

In [54]:
pay['Job Titles'].apply(find_string).sum()

11101

In [55]:
sum(pay['Job Titles'].apply(find_string))

11101

In [56]:
pay[pay['Job Titles'].str.contains('officer', case=False)].count()['Name']

11101

In [57]:
pay

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate,Salary,H_Rate
0,"ALLISON, PAUL W",LIEUTENANT,FIRE,F,Salary,NaN,$107790.00,NaN,107790.0,NaN
1,"BRUNO, KEVIN D",SERGEANT,POLICE,F,Salary,NaN,$104628.00,NaN,104628.0,NaN
2,"COOPER, JOHN E",LIEUTENANT-EMT,FIRE,F,Salary,NaN,$114324.00,NaN,114324.0,NaN
3,"CRESPO, VILMA I",STAFF ASST,LAW,F,Salary,NaN,$76932.00,NaN,76932.0,NaN
4,"DOLAN, ROBERT J",SERGEANT,POLICE,F,Salary,NaN,$111474.00,NaN,111474.0,NaN
...,...,...,...,...,...,...,...,...,...,...
32653,"ZYGOWICZ, PETER J",POLICE OFFICER,POLICE,F,Salary,NaN,$90024.00,NaN,90024.0,NaN
32654,"ZYLINSKA, KATARZYNA",POLICE OFFICER,POLICE,F,Salary,NaN,$48078.00,NaN,48078.0,NaN
32655,"ZYMANTAS, MARK E",POLICE OFFICER,POLICE,F,Salary,NaN,$87006.00,NaN,87006.0,NaN
32656,"ZYRKOWSKI, CARLO E",POLICE OFFICER,POLICE,F,Salary,NaN,$93354.00,NaN,93354.0,NaN
32657,"ZYSKOWSKI, DARIUSZ",CHIEF DATA BASE ANALYST,DoIT,F,Salary,NaN,$115932.00,NaN,115932.0,NaN

**24. Save the final dataframe to a csv file**

In [58]:
pay.to_csv('E:\store.csv')